In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
mydict = {'ant':80, 'by':40, 'cell': 100}

## 인덱싱

In [3]:
# 딕셔너리 값 반환
mydict.items()
mydict.keys()
mydict.values()

dict_values([80, 40, 100])

In [4]:
# key 검색과 value 반환
'ant' in mydict.keys()
mydict['ant']

80

In [5]:
# value로부터 key 반환하는 방법
for name, score in mydict.items():   # items 함수는 key, value를 반환
    if score >= 80:
        print(name)
        
[name for name, score in mydict.items() if score>=80]  # 한 줄로

ant
cell

['ant', 'cell']

In [6]:
# dictionary 정렬하기 (리스트 형태로 반환)
sorted(mydict.items(), key=lambda x : x[1], reverse = True)  # x[1]이면 value 기준으로 정렬

# dictionary 정렬하기 (딕셔너리 형태로 반환)
dict(sorted(mydict.items(), key=lambda x : x[1], reverse = True))  # 바깥에 dict를 씌우면 됨

{'cell': 100, 'ant': 80, 'by': 40}

## 변환

In [8]:
import pandas as pd
df = pd.DataFrame({
    'id' : ['id-001','id-002','id-003'],
    'price' : [1000,1000,2000],
    'num' : [1,1,1],
    'color' : ['blue','yellow','blue'],
    'type' : ['inner','inner','outer'] 
})

In [9]:
df

       id  price  num   color   type
0  id-001   1000    1    blue  inner
1  id-002   1000    1  yellow  inner
2  id-003   2000    1    blue  outer

In [20]:
# 하나의 column을 key 로 딕셔너리 반환 {value of column : []}
df.set_index('id').T.to_dict()

{'id-001': {'price': 1000, 'num': 1, 'color': 'blue', 'type': 'inner'},
 'id-002': {'price': 1000, 'num': 1, 'color': 'yellow', 'type': 'inner'},
 'id-003': {'price': 2000, 'num': 1, 'color': 'blue', 'type': 'outer'}}

In [13]:
# 각 row를 딕셔너리로 해서 딕셔너리로 반환 {index : {column1 : value1, column2 : value2}}
df.to_dict('index')

{0: {'id': 'id-001',
  'price': 1000,
  'num': 1,
  'color': 'blue',
  'type': 'inner'},
 1: {'id': 'id-002',
  'price': 1000,
  'num': 1,
  'color': 'yellow',
  'type': 'inner'},
 2: {'id': 'id-003',
  'price': 2000,
  'num': 1,
  'color': 'blue',
  'type': 'outer'}}

In [16]:
# row를 기준으로 변환
df.to_dict('records')

[{'id': 'id-001', 'price': 1000, 'num': 1, 'color': 'blue', 'type': 'inner'},
 {'id': 'id-002', 'price': 1000, 'num': 1, 'color': 'yellow', 'type': 'inner'},
 {'id': 'id-003', 'price': 2000, 'num': 1, 'color': 'blue', 'type': 'outer'}]

In [17]:
# 컬럼을 기준으로 변환
df.to_dict('series')

{'id': 0    id-001
 1    id-002
 2    id-003
 Name: id, dtype: object,
 'price': 0    1000
 1    1000
 2    2000
 Name: price, dtype: int64,
 'num': 0    1
 1    1
 2    1
 Name: num, dtype: int64,
 'color': 0      blue
 1    yellow
 2      blue
 Name: color, dtype: object,
 'type': 0    inner
 1    inner
 2    outer
 Name: type, dtype: object}

In [18]:
# column 기준으로 리스트로 반환 {column : list}
df.to_dict('list')

{'id': ['id-001', 'id-002', 'id-003'],
 'price': [1000, 1000, 2000],
 'num': [1, 1, 1],
 'color': ['blue', 'yellow', 'blue'],
 'type': ['inner', 'inner', 'outer']}